.music_albums {
  margin: 70px 45px 0;
}
.album_names {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}
.album_names h6 {
  border: 2px solid aliceblue;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
  font-weight: 700;
}
.album_names .light {
  background-color: aliceblue;
  color: black;
  box-shadow: 3px 2px 12px rgb(143, 143, 143);
  /* animation: forwards 5s; */
}
