.sidebar {
  background-color: #000000;
  height: 100vh;
  max-width: 250px;
  min-width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  color: whitesmoke;
}
.sidebar > img {
  width: 160px;
  height: auto;
  display: block;
  margin: auto;
  padding-top: 30px;
}
.sidebar_content {
  padding-left: 30px;
  padding-top: 40px;
}
.sidebar_icon {
  padding-right: 10px;
  width: 35px;
  height: auto;
}

.sidebar_playlist {
  padding-left: 30px;
  padding-top: 20px;
}
.sidebar_content h5 {
  font-size: 16px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.inactive {
  opacity: 0.6;
}
.sidebar_content h5:hover {
  opacity: 1;
  font-weight: 700;
}
.active {
  opacity: 1;
  font-weight: 700;
}
