.music_player {
  background-color: #3c3f52;
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  padding: 20px 20px;
}

.music_player .player_content {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}
.player_content p {
  margin: 0;
  margin-left: 10px;
  color: aliceblue;
}
.player_block {
  background-color: #535777;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player_block img {
  width: 50px;
  height: auto;
}

.music p {
  text-align: center;
  margin: 0;
  padding: 0;
}
.details {
  padding: 0;
  margin: 0;
  /* margin-top: 5px;
  margin-bottom: 10px; */
}
.title {
  font-size: 15px;
}
.artist {
  font-size: 13px;
  font-style: italic;
  opacity: 0.4;
  /* color: rgb(196, 196, 196); */
}
